{% extends "layout.html" %}

{% block heading %}
    {{ loggedin }}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="{{ url_for('index') }}">Book World</a>
            </div>
            <form class="form-inline" action="{{url_for('index')}}" method="POST">
                <input type="search" class="form-control mr-sm-2" placeholder="Search" name="text" aria-label="Search">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Submit</button>
            </form>
            <ul class="navbar-nav navbar-right">
                <li><a href="{{ url_for('login') }}">sign in</a></li>
                <li><a href="{{ url_for('register') }}">register</a></li>
            </ul>
    </nav>
    <div class="bg">
        <div class="text-center container">
        <form class="form-signin" action="{{ url_for('login') }}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input class="form-control" type="text" placeholder="Enter Username" name="username" required>
            <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="form-group">
            <label>Don't have an account? <a href="{{ url_for('register') }}">Sign Up Here</a></label>
        </div>
        <p class="text-center text-danger">{{ message }}</p>
    </div>
{% endblock %}