{% extends "layout.html" %} {% block heading %} {{ headline }} {% endblock %} {%
block body %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">Book World</a>
  <form class="form-inline" action="{{ url_for('index') }}" method="POST">
    <input
      type="search"
      class="form-control mr-sm-2"
      placeholder="Search"
      name="text"
      aria-label="Search"
    />
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
      Submit
    </button>
  </form>
  <ul class="navbar-nav navbar-right">
    <li><a href="{{ url_for('login') }}">sign in</a></li>
    <li><a class="register" href="{{ url_for('register') }}">register</a></li>
  </ul>
</nav>
</div>
  <p class="text-center text-danger">{{ login_message }}</p>
  {% endblock %}
</div>
